*{
    padding: 0px;
    margin: 0px;
    color: white;
    vertical-align: top;
    font-family: arial;
    border: 1px solid green;
}
#container{
    margin: 20px;
    width: 1000px;
    background-color: red;
    padding: 5px;
}
#header{
    background-color: blue;
    padding: 10px;

}
#image{
    /* position: justify; */   
    /* display: inline-block; already is an inline-block*/
    width: 45%;
    /* left: 5%; */
}
#header{
    background-color: blue;
    /* display: grid;
    align-content: center; */
}
#top_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-content: space-evenly;     */
}
#search_container{
    /* margin: 10px 0px 10px 10%; */
    /* left: 10%; */
    padding: 10px;
    display: inline-block;
    background-color: #050;
    width: 30%;
    /* text-align: center; */
}
#search_box{
    padding: 10px;
    /* margin: 10px; */
    /* align-content: center; */
    background-color: #666;
    /* position: relative; */
    border-radius: 15px;
    display: flex;
    justify-content: space-between;
    align-content: center;
}
#search_box_text{
    margin-bottom: 10px;
    text-align: right;
}
input[type="search"]{
    text-align: center;
    font-size: 14pt;
}
input[type="submit"]{
    padding: 5px;
    background-color: darkblue;
}
#hot_bar{
    /* width: 70%;
    padding: 10px;
    left: 15%;
    position:relative;*/ 
    display: flex;
    justify-content: center;
    /* box-align: center; 
    border-radius: 5px;
    background-color: lightskyblue;
    text-align: center;
    line-height: 12pt; */
}
.hot_bar_text{
    width: 65%;
    background-color: lightskyblue;
    text-align: center;
    border-radius: 5px;
    padding: 10px;
    font-size: large;
}
#header_list{
    display: inline-flex;
    margin: 30px;
    width: 20%;
    justify-content: center;
    text-align: center;
    list-style-position: inside;

}
#header_main_text{
    display: inline-block;
    text-align: center;
    font-size: 10pt;
    width: 50%;
    margin: 20px;
}
.yellow_text{
    color: yellow;
}